In [ ]:
# Print 0 to 20 using Range

In [1]:
for temp in range(0,20):
    print(temp)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
# Print range 10 to 20

In [1]:
for temp1 in range(10,20):
    print(temp1)

10
11
12
13
14
15
16
17
18
19

In [4]:
numlist=[10,20,14,55,43,87,76]
numlist1=len(numlist)
print("Number of items in the list2:",numlist1)

Number of items in the list2: 7

In [2]:
# Print odd numbers in the list:

list=(20,10,16,19,25,1,276,188)
for temp in list:
    if(temp%2==1):
        print(temp,"is odd")

19 is odd
25 is odd
1 is odd

In [4]:
# Print Even numbers in the list:

list=(20,10,16,19,25,1,276,188)
for temp in list:
    if(temp%2==0):
        print(temp,"is even")

20 is even
10 is even
16 is even
276 is even
188 is even

In [1]:
tupnum=(1,'Welcome',2,'Hope')
print(tupnum)

(1, 'Welcome', 2, 'Hope')

In [2]:
tupnum1=(0,1,2,3)
tupnum2=('Python','Hope')
tupnum3=(tupnum1,tupnum2)
print(tupnum3)

((0, 1, 2, 3), ('Python', 'Hope'))